/* ESTILOS DE ETIQUETAS HTML */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

section {
    margin-bottom: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 20px;
    flex: 1;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #666;
}

h3 {
    text-align: cemter;
    font-size: 20px;
    color: #555;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

/* CLASES PARA FORMULARIOS */

.formularios {
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 25%;
    margin: 20px auto;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input[type="text"], 
input[type="number"], 
input[type="mail"], 
input[type="password"],
input[type="date"] {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    font-size: large;
}

select {
    width: 49%;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    font-size: large;
}

button {
    width: 47.5%;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.radioLabel {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
    font-size: medium;
}


.labelFormulario {
    display: block;
    text-align: left;
    margin: 0 0 5px;
    color: #666;
    font-size: large;
    width: 100%;
    text-align: left;
}

button:hover {
    background-color: #0056b3;
}

.botonAceptar, .botonCancelar {
    font-size: large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botonAceptar {
    background-color: forestgreen;

}

.botonCancelar {
    background-color: #FF4D4D;
}

/* ZONA HISTORIAL */

.tablaHistorial {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tablaHistorial td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
    
}

.celdaHistorialH, .celdaHistorialD, .celdaHistorialJ1, .celdaHistorialJ2, .celdaHistorialP {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.celdaHistorialH {
    background-color: #f2f2f2;
}

.celdaHistorialJ1 {
    background-color: #FF7F50;
    color: white;
}

.celdaHistorialJ2 {
    background-color: #50BFFF;
    color: white;
}

.celdaHistorialP {
    background-color: #4caf50;
    color: white;
}

/* SECCIONES DEL JUEGO */

.zonaSeccion {
    display: flex;
    height: auto;
}

.zonaIzquierda, .zonaDerecha {
    max-width: 50%;
    height: auto;
    position: relative;
    overflow: auto;
}

/* ZONA DE INFORMACION DE LA PARTIDA */


/* ZONA DE ESTADO PARTIDA */

.nombreJugador1 {
    background-color: #FF7F50;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nombreJugador1 h1 {
    margin: 0;
    font-size: 36px;
    color: white;
    font-weight: bold; 
  }

.nombreJugador2 {
    background-color: #50BFFF;
    padding: 15px;
    border-radius: 20px;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .nombreJugador2 h1 {
    margin: 0;
    font-size: 36px;
    color: white;
    font-weight: bold; 
  }
  
  .tablaEstadoJugador {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .celdaEstadoJugador {
    max-width: 50%;
    height: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

/* ZONA DE LETRAS/PALABRAS */

.tablaRosco {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.celdaLetra,
.celdaPalabra {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 0;
    height: 40px;
}

.celdaLetra {
    width: 40px;
}

.celdaPalabra {
    width: calc(100% / 3 - 40px);
}

.celdaPalabra h3 {
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilos para las letras */
.sinResponder,
.correcto,
.incorrecto {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    font-size: x-large;
}
.sinResponder {
    background-color: blue;
}

.correcto {
    background-color: green;
}

.incorrecto {
    background-color: red;
}

/* ZONA DE JUEGO */

.formularioJuego {
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: 20px auto;
}

.botonJuego0 {
    background-color: #FF7F50;
    font-size: large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botonJuego1 {
    background-color: #50BFFF;
    font-size: large;
}

.botonPasapalabra {
    background-color: #4caf50;
    font-size: large;
}

.turnoDe0 {
    color: #FF7F50;
    font-weight: bold;

}

.turnoDe1 {
    color: #50BFFF;
    font-weight: bold;
}

/* Estilos para listas */
ul, ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

/* Estilos para listas sin estilos */
.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos para listas en línea */
.list-inline {
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
    margin-right: 10px;
}

/* Estilo para etiquetas divs */

.itemsCentrados {
    text-align: center;
}